body {
  margin: 10px;
  /* 3.) Use inheritance to avoid repetition for the font stack */
  font-family: Arial, Helvetica, sans-serif;
}

/* 4.) Override the font stack for specific elements. times new roman is in quotes because it has spaces */
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

p {
  /* 1.) Make a font stack. A solid font stack provides fallbacks and the last font in the stack is used if all else fails. */
  /* font-family: Arial, Helvetica, sans-serif; */
  /* 5.) Override the font weight for specific elements. Use ctrl + space to see suggestions.s */
  font-weight: bold;
  /* 6.) Change the font style */
  font-style: italic;
  /* 7.) Change the font size */
  font-size: 1rem;
  /* 8.) Make the font color */
  color: #333;
}
