/* Let's start off mobile first */

/* 1.) Set up our container */
.container {
  display: flex;
  flex-direction: column;
}

/* 2.) Set up our boxes */
.box {
  background: gold;
  padding: 1rem;
}

/* 3.) Target the the 2nd box */
.box:nth-child(2) {
  background: dodgerblue;
}

/* 4.) Set up a media query for larger screens */

@media screen and (min-width: 600px) {
  /* 5.) Now set the rules for larger screens */
  .container {
    flex-direction: row;
  }
}

@media screen and (min-width: 900px) {
  /* 6.) Make another adjustment for screens wider than 900px, and change the boxes color to white */
  .container {
    flex-direction: row;
  }
  .box {
    background: white;
  }

  /* 7.) Make a media query for printers */
  @media print {
    body {
      font-size: 12pt;
      color: black;
      background: white;
    }
    .box {
      padding: 0.5cm;
    }
  }
}
