@font-face {
  font-family: "opensans";
  src: url("fonts/open-sans/opensans-regular-webfont.woff2") format("woff2"),
    url("fonts/open-sans/ opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "opensansbold";
  src: url("fonts/open-sans/opensans-bold-webfont.woff2") format("woff2"),
    url("fonts /open-sans/opensans-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 50ch;
  /* 1.) Set letter spacing to 1rem */
  /* This came out so wide, this is why we don't use rem we should use px instead */
  /* letter-spacing: 1px; */

  /* 2.) Adjust word spacing, this will adjust the space between words */
  /* word-spacing: 5px; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1 {
  margin: 3rem 0 1rem;
}

/* 3.) Set the max-width for paragraphs */
/* ch is a unit representing the width of the "0" (zero) character in the current font */

p + p {
  /* 4.) Set the text alignment for paragraphs */
  /* I wouldn't use `justify` because you'll end up with uneven spacing */
  /* text-align: center; */

  /* 5.) Set the text indentation for paragraphs */
  /* Most times you don't want to indent the first paragraph after a heading, so we should use p + p (adjacent sibling selector) to only indent paragraphs that follow other paragraphs */
  text-indent: 1rem;
}
